<% include ./partials/header %>

<h1>Admin</h1>
<p><b>Add Students to the platform</b></p>

<% if(locals.error){ %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= locals.error %>>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% }; %>

<%= locals.error %>
<form action="/register" method="POST">
    <div class="form-group w-50">
      <div class="row">
        <div class="col">
          <label for="inputEmail">Email address</label>
          <input type="text" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="username">
        </div>
        <div class="col">
          <label for="inputCourse">Course</label>
          <select class="custom-select" id="inputGroupSelect01" name="course">
            <option selected>Choose...</option>
            <% courses.forEach(course => { %>
              <option value="<%= course.id %>-<%= course.title %>"><%= course.title %></option>
            <% }) %>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

<% include ./partials/footer %>
