<% include ./partials/header %>

<button class="btn btn-sm btn-outline-info my-2" onclick="window.history.back()">Go Back</button>
<h1><%= title %></h1>

<div class="table-responsive-sm">
  <table class="table">
	  <thead>
		<tr>
		  <th scope="col">Number</th>
		  <th scope="col">Lessons</th>
		  <th class="text-right" scope="col">Aktion</th>
		</tr>
	  </thead>
	  <tbody>
		<% lessons.forEach(function(lesson, index){ %>
			<% if(lesson.check) { %>
				<tr class="bg-green">
					<td scope="row">
						<%= index+1 %>
					</td>
					<td scope="row">
						<%= lesson.lesson_title %>
					</td>
					<td class="text-right">
						<a href="/lesson/<%= lesson.lesson_id %>"><button class="btn btn-warning btn-sm">Anzeigen</button></a>
						<button class="btn btn-dark btn-sm check-lesson" value="<%= lesson.lesson_id %>">Check</button>
					</td>
				</tr>
			<% } else { %>
				<tr>
					<td scope="row">
						<%= index %>
					</td>
					<td scope="row">
						<%= lesson.lesson_title %>
					</td>
					<td class="text-right">
						<a href="/lesson/<%= lesson.lesson_id %>"><button class="btn btn-warning btn-sm"> <i class="fas fa-book"></i> Anzeigen</button></a>
						<button id="check-lesson" class="btn btn-dark btn-sm check-lesson" value="<%= lesson.lesson_id %>"><i class="fas fa-check-circle"></i> Check</button>
					</td>
				</tr>
			<% } %>
  		<% }); %>
	  </tbody>
  </table>
  <div class="alert alert-primary" role="alert">
	START.CODE Info: Schön dass du da bist! Hier ist noch nicht viel zu finden. Die Lessons werden nach und nach hier reingeladen...
  </div>
</div>

<script>
var course_title = '<%= title %>'
var course_id = '<%= course_id %>'


// trigger when check is hit
$('.check-lesson').click(function(){
	console.log('Check button')
	var lesson_id = parseInt($(this).attr('value'),10)
	checkStudent({course_id, lesson_id})
})

// checks lesson for user
function checkStudent(data){
	console.log('Lets check ', data)
	$.ajax({
	  method: "POST",
	  url: "/check-lesson",
	  data: data
	})
	  .done(function( msg ) {	
		console.log('response ', msg)
		window.location.reload();
	  });
}
</script>

<% include ./partials/footer %>
